@import "reset.css";

body {
  font-family: sans-serif;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  display: flex;
  flex-wrap: nowrap;
}

a:link,
a:visited {
  color: black;
}

nav:hover a:hover {
  color: rgba(255, 51, 51, 0.83);
}

.nav {
  width: 25%;
  background-color: rgba(224, 224, 224, 0.22);
  width: 169px;
  margin: 25px 0 0 25px;
  border-radius: 20px;
  padding: 3px;
  --bs-nav-link-hover-color: black !important;
}

.nav-item {
  margin: 10px;
  font-size: 17.5px;
  font-weight: 900;
}

.nav-item--timer-icon,
.nav-item--stopwatch-icon,
.nav-item--setting-icon {
  width: 32px;
  margin-left: -12px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 60%;
  margin: 13px;
  margin-top: 25px;
}

.main-content--d-day {
  margin-top: 19px;
}

.main-content--time {
  margin: 20px 0;
}

.main-content--pomodoro-timer {
  border: 0px;
  background-color: transparent;
}

.main-content--pomodoro-timer-svc {
  width: 300px;
  height: 300px;
  fill: rgba(255, 51, 51, 0.83);
}

.main-content--pomodoro-timer-circle {
  stroke-dasharray: 596;
  animation: line 5s linear;
}

@keyframes line {
  from {
    stroke-dashoffset: 596;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.main-content--play_icon {
  width: 47px;
}

.text-center {
  width: 300px;
  margin-top: 25px;
  line-height: 21px;
}

.to-do {
  width: 20%;
  margin: 25px 25px 0 0;
  margin-top: 25px;
}

.to-do--h2 {
  font-size: 22.5px;
  margin-bottom: 5px;
}

.to-do__button {
  height: 38px;
  background-color: rgba(224, 224, 224, 0.22);
  box-shadow: 5px 5px 10px #bdbdbd;
  border-radius: 8px;
  text-align: center;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
}

.to-do--line {
  height: 2px;
  margin: 5px;
  background-color: #cccccc;
}

.to-do__button--plus {
  width: 25px;
  vertical-align: middle;
}

.to-do__item {
  height: 38px;
  background-color: rgba(224, 224, 224, 0.22);
  box-shadow: 5px 5px 10px #bdbdbd;
  border-radius: 8px;
  text-align: left;
  line-height: 38px;
  font-weight: 500;
  margin-bottom: 4px;
  padding: 5px;
  cursor: pointer;
}

input[type="checkbox"] + label {
  cursor: pointer;
  display: block;
}

input[type="checkbox"] {
  display: none;
}

/* label:before에 체크하기 전 상태 CSS */
input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 51, 51, 0.83);
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 7px;
}

/* label:before에 체크 된 상태 CSS */
input[type="checkbox"]:checked + label:before {
  content: "";
  border-color: rgba(255, 51, 51, 0.83);
  background-image: url("../assets/checked_icon.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40px;
}
